body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 171, 167);
  color: rgb(77, 74, 74);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  width: 15em;
  height: auto;
  border-radius: 15px;
}

.Movie {
  align-items: center;
  text-align: center; 
  margin: 2em auto;
}

h1, h3 {
  text-align: center;
  margin: 1em 0 1em 0;
  text-transform: uppercase;
}

.Movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
  margin: auto;
  gap: 2em
}

p {
  height: .5em;
}
